<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84362706599-ru9soj7m0j7nh0acrijaf897mhjh9hth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84362706599-ru9soj7m0j7nh0acrijaf897mhjh9hth</string>
	<key>API_KEY</key>
	<string>AIzaSyAAAEv-BEK1wsU_zVgPmICNSh-LIRaVuAM</string>
	<key>GCM_SENDER_ID</key>
	<string>84362706599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ps3</string>
	<key>PROJECT_ID</key>
	<string>angular-spider-281906</string>
	<key>STORAGE_BUCKET</key>
	<string>angular-spider-281906.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84362706599:ios:883659f2933bb55a126582</string>
	<key>DATABASE_URL</key>
	<string>https://angular-spider-281906.firebaseio.com</string>
</dict>
</plist>